---
- hosts: all
  vars:
    required_ansible_version: "2.2.1.0"

  tasks:
    - name: "Fail if current Ansible version less than {{ required_ansible_version }}"
      fail:
        msg: |
          Ansible verison is {{ ansible_version.full }}. This playbook requires Ansible {{ required_ansible_version }} or greater.
      when: ansible_version.full < required_ansible_version

    - name: Install OS Packages.
      apt:
        name: "{{ item }}"
        state: present
      become: true
      with_items:
        - ubuntu-restricted-extras
        - vlc
        - tlp
        - tlp-rdw
        - network-manager-openvpn-gnome

    - name: Configure GNOME Shell.
      import_tasks: tasks_gnome.yml

    - name: Configure GNOME Terminal.
      import_tasks: tasks_gnome_terminal.yml

    - name: Install Google Chrome.
      import_role:
        name: google-chrome

