- name: Configure shell
  hosts: localhost
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600 # 1h
      become: true

    - name: Install packages
      apt:
        name: "{{ item }}"
        state: present
      become: true
      with_items:
        - xclip
        - xsel
        - tmux

    - name: Check if bash-it repo is present
      stat:
        path: ~/.bash_it/
      register: bash_it_is_present
      changed_when: false

    - name: Clone bash-it repo
      git:
        repo: https://github.com/Bash-it/bash-it.git
        dest: ~/.bash_it
        depth: 1
      when: bash_it_is_present.stat.exists == false

    - name: Run bash-it install script
      shell: >
        ~/.bash_it/install.sh --silent --no-modify-config
      args:
        executable: /bin/bash
      when: bash_it_is_present.stat.exists == false

    - name: Run bash-it update
      shell: >
        source ~/.bash_profile && bash-it update
      args:
          executable: /bin/bash
      when: bash_it_is_present.stat.exists == true

    - name: Check if dotfiles repo has been cloned
      stat:
        path: ~/dotfiles/
      register: dotfiles_is_cloned
      changed_when: false

    - name: Clone dotfiles repo
      git:
        repo: https://github.com/bboykov/dotfiles.git
        dest: ~/dotfiles
      register: dotfiles_repo
      when: dotfiles_is_cloned.stat.exists == false

    - name: Run dotfiles makesymlinks script
      shell: >
        cd ~/dotfiles && ./makesymlinks.sh
      args:
        executable: /bin/bash
      when: dotfiles_repo.changed

    - name: Run bash-it enable alias, completion and plugin
      shell: |
        source ~/.bash_profile ;
        bash-it enable alias general ansible clipboard ;
        bash-it enable completion bash-it system git vagrant tmux ;
        bash-it enable plugin edit-mode-vi ;
      args:
          executable: /bin/bash
      # when: bash_it_is_present.stat.exists == false

    # https://github.com/chriskempson/base16-shell.git
    - name: Clone base16-shell repo
      git:
        repo: https://github.com/chriskempson/base16-shell.git
        dest: ~/.config/base16-shell


    - name: Check if tmux TPM repo is present
      stat:
        path: ~/.tmux/plugins/tpm
      register: tmux_tpm_repo_is_present
      changed_when: false

    - name: Clone TMUX TPM repo
      git:
        repo: https://github.com/tmux-plugins/tpm
        dest: ~/.tmux/plugins/tpm
      when: tmux_tpm_repo_is_present.stat.exists == false

