---
- hosts: all
  vars:
    required_ansible_version: "2.2.1.0"

  vars_files:
          - vars/git_vars.yml

  tasks:
    - name: "Fail if current Ansible version less than {{ required_ansible_version }}"
      fail:
        msg: |
          Ansible verison is {{ ansible_version.full }}. This playbook requires Ansible {{ required_ansible_version }} or greater
      when: ansible_version.full < required_ansible_version

    - name: Update the apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600 # 1h
      become: true

    - name: Configure GNOME Shell
      import_tasks: tasks_gnome.yml
      tags:
        - gnome

    - name: Configure GNOME Terminal
      import_tasks: tasks_gnome_terminal.yml
      tags:
        - gnome-terminal

    - name: Install Google Chrome
      import_role:
        name: google-chrome
      tags:
        - gnome-desktop

    - name: Configure VIM
      import_tasks: tasks_vimconf.yml
      tags:
        - vimconf

    - name: Configure Git
      import_role:
        name: gitconfig
      tags:
        - git

    - name: Configure shell
      import_tasks: tasks_shell.yml
      tags:
        - shell
